.leaflet-tile,
.leaflet-tile-container,
.leaflet-pane {
    will-change: auto !important;
}


#map {
    width: 100vw !important;
    height: 100vh !important;
}

.map-post #post-map iframe {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.map-post {
    border-radius: 8px;
}

#map-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
}

#wind-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 220px;
    font-size: 0.9rem;
    background: rgba(255, 255, 255, 0.85);
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 9999;
}

#wind-arrow {
    position: relative;
    width: 40px;
    display: block;
    margin: 10px auto;
}

#DWD-Logo {
    position: relative;
    height: 25px;
    display: block;
    margin: 0 auto;
}