{% extends 'base.html' %}


{% block title %}
    Map
{% endblock %}


{% block content %}
{% block extra_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

    <!-- Dataset in the div tag -->
    <div id="map"
    data-default-lat="{{ LATITUDE }}"
    data-default-lon="{{ LONGITUDE }}"
    data-initial-lake="{{ initial_location_name|e }}"
    style="width:100%; height:100%; position:relative;">

        <div id="wind-info">
            <p><b>Wind Data</b></p>
            <p id="wind-speed">Velocity: {{ wind_speed }} m/s</p>
            <p id="wind-strength">Wind Strength: {{ getBeauforScale }}</p>
            <p id="wind-direction">Direction: {{ compass_direction }}</p>

            <img id="wind-arrow" src="data:image/png;base64,{{ wind_arrow }}" style="transform: rotate({{ wind_direction }}deg);">
            <img id="DWD-Logo" src="data:image/png;base64,{{ DWD_logo }}">
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}